@model RegistroPersonas.Persona

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Esta seguro que quiere eliminar este registro?</h3>
<div>
    <h4>RegistroUsuariosCodes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayName("Apellido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayName("Edad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayName("DNI")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nro_doc)
        </dd>

        <dt>
            @Html.DisplayName("Genero")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        @Html.HiddenFor(model => model.id)
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index", null, new {@class="btn btn-info"})
        </div>
    }
</div>
