@model RegistroPersonas.Persona

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>RegistroUsuariosCodes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayName("Apellido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayName("Edad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayName("Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento.nombre)
        </dd>


        <dt>
            @Html.DisplayName("N° Documento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nro_doc)
        </dd>

        <dt>
            @Html.DisplayName("Genero")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Borrar", "Delete", new { id = Model.id}, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-info" })
</p>
